<% if(pokePic=="") { %>
  <p>
    WRONG POKEMON NAME!
</p>
<% } else { %> 
  <h1>
    YOUR POKEMON IS:
  </h1>

  <img src= <%=pokePic%> >

  <% if(pokePic=="") { %>
    <p>
    WRONG POKEMON NAME!
  </p>
<% } }%> 