html, body {
  height: 100%;
  background-image: url("/img/homebg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
/*   filter: blur(8px);
  -webkit-filter: blur(8px);
  -mozilla-filter: blur(8px); */

}



